In [8]:
import pandas as pd
a= pd.read_csv('환경부 크롤링1629249364')
b= pd.read_csv('환경부 크롤링1629252901')
c= pd.read_csv('환경부 크롤링1629256500')
d= pd.read_csv('환경부 크롤링1629260104')
e= pd.read_csv('환경부 크롤링1629265986')
f= pd.read_csv('환경부 크롤링1629275359')
g= pd.read_csv('환경부 크롤링1629280529')
h= pd.read_csv('환경부 크롤링1629288030')
i= pd.read_csv('환경부 크롤링1629291963')

In [9]:
x=pd.read_excel('data/유선부분_동.xlsx')
x=x[['동']]
y=pd.read_excel('data/승현.xlsx')
y=y[['동']]
xy=pd.concat([y,x],ignore_index=True)
xy

       동
0    개포동
1    삼성동
2    개포동
3    일원동
4    일원동
..   ...
200  중화동
201  면목동
202  상봉동
203  신내동
204  신내동

[205 rows x 1 columns]

In [10]:
df_list=[a,b,c,d,e,f,g,h,i]
dfs=[]
for x in df_list:
    x=x[['구명','시설분류','주차장명','사용상태','충전기타입','수집시간']]
    x['동']=xy['동']
    dfs.append(x)

In [11]:
result=pd.DataFrame(columns=(['구명','시설분류','주차장명','사용상태','충전기타입','수집시간']))
result=pd.concat([dfs[0],dfs[1],dfs[2],dfs[3],dfs[4],dfs[5],dfs[6],dfs[7],dfs[8]],ignore_index=True)
result.head()

    구명  시설분류                주차장명  사용상태 충전기타입                        수집시간    동
0  강남구  공공시설          sh서울주택도시공사  사용가능    급속  2021-08-18 10:05:46.161942  개포동
1  강남구  공공시설  강남구청 삼성로 별관 부설 주차장   사용중    급속  2021-08-18 10:05:46.161942  삼성동
2  강남구  공공시설           일원2동 주민센터  사용가능    급속  2021-08-18 10:05:46.161942  개포동
3  강남구  공공시설           일원본동 주민센터  사용가능    급속  2021-08-18 10:05:46.161942  일원동
4  강남구  공공시설             탄천물재생센터  사용가능    급속  2021-08-18 10:05:46.161942  일원동

In [12]:
result=result.sort_values(by=['구명','주차장명','수집시간'],ascending=[True,True,True])
result=result.reset_index(drop=True)
result.head()

    구명  시설분류   주차장명  사용상태 충전기타입                        수집시간    동
0  강남구  관광시설  SETEC  사용가능    급속  2021-08-18 10:05:53.430625  대치동
1  강남구  관광시설  SETEC   사용중    급속  2021-08-18 11:05:22.839749  대치동
2  강남구  관광시설  SETEC  사용가능    급속  2021-08-18 12:05:22.391825  대치동
3  강남구  관광시설  SETEC  사용가능    급속  2021-08-18 13:05:27.475507  대치동
4  강남구  관광시설  SETEC   사용중    급속  2021-08-18 14:43:42.742611  대치동

In [13]:
result.to_csv('210818 환경부 크롤링.csv',index=False)