In [1]:
import pandas as pd
a= pd.read_csv('타기관 크롤링1630032825')
b= pd.read_csv('타기관 크롤링1630038194')
c= pd.read_csv('타기관 크롤링1630043126')
d= pd.read_csv('타기관 크롤링1630045818')
e= pd.read_csv('타기관 크롤링1630049183')
f= pd.read_csv('타기관 크롤링1630052376')
g=pd.read_csv('타기관 크롤링1630054799')
h=pd.read_csv('타기관 크롤링1630058049')
i=pd.read_csv('타기관 크롤링1630061251')
j=pd.read_csv('타기관 크롤링1630065988')
k=pd.read_csv('타기관 크롤링1630068681')
l=pd.read_csv('타기관 크롤링1630071639')
m=pd.read_csv('타기관 크롤링1630076986')

In [2]:
result=pd.concat([a,b,c,d,e,f,g,h,i,j,k,l,m])
result=result[['구명','시설분류','주차장명','사용상태','충전기타입','수집시간']]
result=result.sort_values(by=['구명','주차장명','수집시간'],ascending=[True,True,True])
result=result.reset_index(drop=True)
result.head()

    구명  시설분류          주차장명  사용상태 충전기타입                        수집시간
0  강남구  기타시설  (사)국가안보전략연구원   사용중    완속  2021-08-27 11:08:07.843357
1  강남구  기타시설  (사)국가안보전략연구원  사용가능    완속  2021-08-27 12:15:12.857325
2  강남구  기타시설  (사)국가안보전략연구원  사용가능    완속  2021-08-27 13:27:13.085932
3  강남구  기타시설  (사)국가안보전략연구원  사용가능    완속  2021-08-27 14:47:36.129573
4  강남구  기타시설  (사)국가안보전략연구원  사용가능    완속  2021-08-27 15:32:05.672789

In [3]:
result[result['주차장명']=='(사)국가안보전략연구원']

     구명  시설분류          주차장명  사용상태 충전기타입                        수집시간
0   강남구  기타시설  (사)국가안보전략연구원   사용중    완속  2021-08-27 11:08:07.843357
1   강남구  기타시설  (사)국가안보전략연구원  사용가능    완속  2021-08-27 12:15:12.857325
2   강남구  기타시설  (사)국가안보전략연구원  사용가능    완속  2021-08-27 13:27:13.085932
3   강남구  기타시설  (사)국가안보전략연구원  사용가능    완속  2021-08-27 14:47:36.129573
4   강남구  기타시설  (사)국가안보전략연구원  사용가능    완속  2021-08-27 15:32:05.672789
5   강남구  기타시설  (사)국가안보전략연구원  사용가능    완속  2021-08-27 16:30:40.108771
6   강남구  기타시설  (사)국가안보전략연구원  사용가능    완속  2021-08-27 17:21:26.897914
7   강남구  기타시설  (사)국가안보전략연구원  사용가능    완속  2021-08-27 18:03:39.680229
8   강남구  기타시설  (사)국가안보전략연구원  사용가능    완속  2021-08-27 19:04:24.568682
9   강남구  기타시설  (사)국가안보전략연구원  사용가능    완속  2021-08-27 20:01:51.248643
10  강남구  기타시설  (사)국가안보전략연구원  사용가능    완속  2021-08-27 21:09:54.490855
11  강남구  기타시설  (사)국가안보전략연구원  사용가능    완속  2021-08-27 22:07:05.429223
12  강남구  기타시설  (사)국가안보전략연구원  사용가능    완속  2021-08-27 23:23:47.513867

In [4]:
result.to_csv('210827 타기관 크롤링.csv',index=False)

In [5]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2288 entries, 0 to 2287
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2288 non-null   int64
 1   구명          2288 non-null   object
 2   시설분류        2288 non-null   object
 3   주차장명        2288 non-null   object
 4   사용상태        2288 non-null   object
 5   충전기타입       2288 non-null   object
 6   수집시간        2288 non-null   object
dtypes: int64(1), object(6)
memory usage: 125.2+ KB

In [6]:
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2289 entries, 0 to 2288
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2289 non-null   int64
 1   구명          2289 non-null   object
 2   시설분류        2289 non-null   object
 3   주차장명        2289 non-null   object
 4   사용상태        2289 non-null   object
 5   충전기타입       2289 non-null   object
 6   수집시간        2289 non-null   object
dtypes: int64(1), object(6)
memory usage: 125.3+ KB

In [7]:
c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2291 entries, 0 to 2290
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2291 non-null   int64
 1   구명          2291 non-null   object
 2   시설분류        2291 non-null   object
 3   주차장명        2291 non-null   object
 4   사용상태        2291 non-null   object
 5   충전기타입       2291 non-null   object
 6   수집시간        2291 non-null   object
dtypes: int64(1), object(6)
memory usage: 125.4+ KB

In [8]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2293 entries, 0 to 2292
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2293 non-null   int64
 1   구명          2293 non-null   object
 2   시설분류        2293 non-null   object
 3   주차장명        2293 non-null   object
 4   사용상태        2293 non-null   object
 5   충전기타입       2293 non-null   object
 6   수집시간        2293 non-null   object
dtypes: int64(1), object(6)
memory usage: 125.5+ KB

In [9]:
e.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2293 entries, 0 to 2292
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2293 non-null   int64
 1   구명          2293 non-null   object
 2   시설분류        2293 non-null   object
 3   주차장명        2293 non-null   object
 4   사용상태        2293 non-null   object
 5   충전기타입       2293 non-null   object
 6   수집시간        2293 non-null   object
dtypes: int64(1), object(6)
memory usage: 125.5+ KB

In [10]:
f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2294 entries, 0 to 2293
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2294 non-null   int64
 1   구명          2294 non-null   object
 2   시설분류        2294 non-null   object
 3   주차장명        2294 non-null   object
 4   사용상태        2294 non-null   object
 5   충전기타입       2294 non-null   object
 6   수집시간        2294 non-null   object
dtypes: int64(1), object(6)
memory usage: 125.6+ KB

In [11]:
g.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2294 entries, 0 to 2293
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2294 non-null   int64
 1   구명          2294 non-null   object
 2   시설분류        2294 non-null   object
 3   주차장명        2294 non-null   object
 4   사용상태        2294 non-null   object
 5   충전기타입       2294 non-null   object
 6   수집시간        2294 non-null   object
dtypes: int64(1), object(6)
memory usage: 125.6+ KB

In [12]:
h.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2293 entries, 0 to 2292
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2293 non-null   int64
 1   구명          2293 non-null   object
 2   시설분류        2293 non-null   object
 3   주차장명        2293 non-null   object
 4   사용상태        2293 non-null   object
 5   충전기타입       2293 non-null   object
 6   수집시간        2293 non-null   object
dtypes: int64(1), object(6)
memory usage: 125.5+ KB

In [13]:
l.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2293 entries, 0 to 2292
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2293 non-null   int64
 1   구명          2293 non-null   object
 2   시설분류        2293 non-null   object
 3   주차장명        2293 non-null   object
 4   사용상태        2293 non-null   object
 5   충전기타입       2293 non-null   object
 6   수집시간        2293 non-null   object
dtypes: int64(1), object(6)
memory usage: 125.5+ KB

In [14]:
m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2293 entries, 0 to 2292
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2293 non-null   int64
 1   구명          2293 non-null   object
 2   시설분류        2293 non-null   object
 3   주차장명        2293 non-null   object
 4   사용상태        2293 non-null   object
 5   충전기타입       2293 non-null   object
 6   수집시간        2293 non-null   object
dtypes: int64(1), object(6)
memory usage: 125.5+ KB

In [15]:
n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2294 entries, 0 to 2293
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2294 non-null   int64
 1   구명          2294 non-null   object
 2   시설분류        2294 non-null   object
 3   주차장명        2294 non-null   object
 4   사용상태        2294 non-null   object
 5   충전기타입       2294 non-null   object
 6   수집시간        2294 non-null   object
dtypes: int64(1), object(6)
memory usage: 125.6+ KB