In [13]:
import pandas as pd
a= pd.read_csv('환경부 크롤링1629161271')
b= pd.read_csv('환경부 크롤링1629164695')
c= pd.read_csv('환경부 크롤링1629168278')
d= pd.read_csv('환경부 크롤링1629171878')
e= pd.read_csv('환경부 크롤링1629178432')
f= pd.read_csv('환경부 크롤링1629182693')
g= pd.read_csv('환경부 크롤링1629186280')
h= pd.read_csv('환경부 크롤링1629189894')
i= pd.read_csv('환경부 크롤링1629196395')
j= pd.read_csv('환경부 크롤링1629200687')
k= pd.read_csv('환경부 크롤링1629207746')

In [14]:
x=pd.read_excel('data/유선부분_동.xlsx')
x=x[['동']]
x.head()
len(x)

67

In [15]:
y=pd.read_excel('data/승현.xlsx')
y=y[['동']]
y.head()
len(y)

138

In [16]:
xy=pd.concat([y,x],ignore_index=True)
xy

       동
0    개포동
1    삼성동
2    개포동
3    일원동
4    일원동
..   ...
200  중화동
201  면목동
202  상봉동
203  신내동
204  신내동

[205 rows x 1 columns]

In [17]:
df_list=[a,b,c,d,e,f,g,h,i,j,k]
dfs=[]
for x in df_list:
    x=x[['구명','시설분류','주차장명','사용상태','충전기타입','수집시간']]
    x['동']=xy['동']
    dfs.append(x)

In [18]:
result=pd.DataFrame(columns=(['구명','시설분류','주차장명','사용상태','충전기타입','수집시간']))
result=pd.concat([dfs[0],dfs[1],dfs[2],dfs[3],dfs[4],dfs[5],dfs[6],dfs[7],dfs[8],dfs[9],dfs[10]],ignore_index=True)
result.head()

    구명  시설분류                주차장명  사용상태 충전기타입                        수집시간    동
0  강남구  공공시설          sh서울주택도시공사  사용가능    급속  2021-08-17 09:38:00.689344  개포동
1  강남구  공공시설  강남구청 삼성로 별관 부설 주차장   사용중    급속  2021-08-17 09:38:00.689344  삼성동
2  강남구  공공시설           일원2동 주민센터  사용가능    급속  2021-08-17 09:38:00.689344  개포동
3  강남구  공공시설           일원본동 주민센터  사용가능    급속  2021-08-17 09:38:00.689344  일원동
4  강남구  공공시설             탄천물재생센터  사용가능    급속  2021-08-17 09:38:00.689344  일원동

In [19]:
result=result.sort_values(by=['구명','주차장명','수집시간'],ascending=[True,True,True])
result=result.reset_index(drop=True)
result.head()

    구명  시설분류   주차장명  사용상태 충전기타입                        수집시간    동
0  강남구  관광시설  SETEC  사용가능    급속  2021-08-17 09:38:22.819315  대치동
1  강남구  관광시설  SETEC  사용가능    급속  2021-08-17 10:35:15.901991  대치동
2  강남구  관광시설  SETEC  사용가능    급속  2021-08-17 11:35:12.798199  대치동
3  강남구  관광시설  SETEC  사용가능    급속  2021-08-17 12:35:12.415314  대치동
4  강남구  관광시설  SETEC  사용가능    급속  2021-08-17 14:24:25.176385  대치동

In [20]:
result.to_csv('210817 환경부 크롤링.csv',index=False)