In [1]:
import pandas as pd
a= pd.read_csv('환경부 크롤링1629420216')
b= pd.read_csv('환경부 크롤링1629427353')
c= pd.read_csv('환경부 크롤링1629432723')
d= pd.read_csv('환경부 크롤링1629437881')
e= pd.read_csv('환경부 크롤링1629441528')
f= pd.read_csv('환경부 크롤링1629445120')
g= pd.read_csv('환경부 크롤링1629449212')
h= pd.read_csv('환경부 크롤링1629453992')
i= pd.read_csv('환경부 크롤링1629458181')
j=pd.read_csv('환경부 크롤링1629461376')

In [2]:
x=pd.read_excel('data/유선부분_동.xlsx')
x=x[['동']]
y=pd.read_excel('data/승현.xlsx')
y=y[['동']]
xy=pd.concat([y,x],ignore_index=True)
xy

       동
0    개포동
1    삼성동
2    개포동
3    일원동
4    일원동
..   ...
200  중화동
201  면목동
202  상봉동
203  신내동
204  신내동

[205 rows x 1 columns]

In [4]:
df_list=[a,b,c,d,e,f,g,h,i,j]
dfs=[]
for x in df_list:
    x=x[['구명','시설분류','주차장명','사용상태','충전기타입','수집시간']]
    x['동']=xy['동']
    dfs.append(x)

In [5]:
result=pd.DataFrame(columns=(['구명','시설분류','주차장명','사용상태','충전기타입','수집시간']))
result=pd.concat([dfs[0],dfs[1],dfs[2],dfs[3],dfs[4],dfs[5],dfs[6],dfs[7],dfs[8],dfs[9]],ignore_index=True)
result.head()

    구명  시설분류                주차장명  사용상태 충전기타입                        수집시간    동
0  강남구  공공시설          sh서울주택도시공사  사용가능    급속  2021-08-20 09:33:15.771013  개포동
1  강남구  공공시설  강남구청 삼성로 별관 부설 주차장  사용불가    급속  2021-08-20 09:33:15.771013  삼성동
2  강남구  공공시설           일원2동 주민센터  사용가능    급속  2021-08-20 09:33:15.771013  개포동
3  강남구  공공시설           일원본동 주민센터  사용가능    급속  2021-08-20 09:33:15.771013  일원동
4  강남구  공공시설             탄천물재생센터  사용가능    급속  2021-08-20 09:33:15.771013  일원동

In [6]:
result=result.sort_values(by=['구명','주차장명','수집시간'],ascending=[True,True,True])
result=result.reset_index(drop=True)
result.head()

    구명  시설분류   주차장명  사용상태 충전기타입                        수집시간    동
0  강남구  관광시설  SETEC  사용가능    급속  2021-08-20 09:33:25.499833  대치동
1  강남구  관광시설  SETEC  사용가능    급속  2021-08-20 11:33:08.664560  대치동
2  강남구  관광시설  SETEC   사용중    급속  2021-08-20 13:02:22.432364  대치동
3  강남구  관광시설  SETEC  사용가능    급속  2021-08-20 14:28:20.398311  대치동
4  강남구  관광시설  SETEC  사용가능    급속  2021-08-20 15:29:26.396458  대치동

In [7]:
result.to_csv('210820 환경부 크롤링.csv',index=False)